/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  #hero .left-section-mobile {
    width: 100%;
    height: 35vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 95%;
    height: 30vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section-mobile .hero-header {
    font-size: 9.5vw;
    /*font-size: 35px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section-mobile p {
    font-size: 16px;
    line-height: 125%;
    width: 90%;
  }

  #hero .left-section {
    display: none;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 85%;
    display: flex;
    flex-direction: row;
  }
  #hero .left-section {
    width: 55%;
    height: 50vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 50vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section .hero-header {
    font-size: 4.5vw;
    /*font-size: 45px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section p {
    font-size: 16px;
    line-height: 125%;
    width: 70%;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin-left: 27px;
    margin-right: 27px;
  }

  #hero .left-section {
    width: 55%;
    height: 70vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 70vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    padding-top: 35px;
  }

  .hero-header {
    font-size: 4.5vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease-out;
    top: 0px;
    opacity: 1;
  }

  #hero .hero-animation {
    position: relative;
    overflow: hidden;
  }

  .hero-transition {
    top: 80% !important;
    opacity: 0;
  }

  #hero p {
    font-size: min(20px, 1.5vw);
    line-height: 125%;
    width: 100%;
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0px;
    margin: 0px;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          ABOUT             -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #about .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #about .container .left-section {
    width: 100%;
    padding-bottom: 30px;
  }

  #about .container .left-section p {
    font-size: 3.5vw;
    width: 80%;
  }

  #about .container .left-section .left-section-header {
    font-size: 7.5vw;
    font-weight: bold;
  }

  #about .container .left-section .left-section-header #orange-header {
    color: #f18200;
  }

  #about .container .right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #about .container .right-section .collapsible {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    height: 70px;
    text-align: left;
    border: none;
    border-top: 2px solid rgb(214, 214, 214);
    cursor: pointer;
    padding-left: 10px;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(225, 225, 225);
  }

  .active:after {
    content: "\2212";
  }

  #about .container .right-section .collapsible:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  #about .content {
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    transition: 0.5s ease-in-out;
    background-color: rgb(225, 225, 225);
    font-size: 16px;
  }

  #about .content li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  #about .content li img {
    width: 20px;
    padding-right: 10px;
  }

  #about .container .right-section .right-section-container {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(214, 214, 214);
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #about .container {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  #about .container .left-section {
    width: 100%;
    padding-bottom: 50px;
  }

  #about .container .left-section p {
    font-size: 2.1vw;
    width: 60%;
  }

  #about .container .left-section .left-section-header {
    font-size: 5.5vw;
    font-weight: bold;
  }

  #about .container .left-section .left-section-header #orange-header {
    color: #f18200;
  }

  #about .container .right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #about .container .right-section .collapsible {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    height: 70px;
    text-align: left;
    border: none;
    border-top: 2px solid rgb(214, 214, 214);
    cursor: pointer;
    padding-left: 10px;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(225, 225, 225);
  }

  .active:after {
    content: "\2212";
  }

  #about .container .right-section .collapsible:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  #about .content {
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    transition: 0.5s ease-in-out;
    background-color: rgb(225, 225, 225);
  }

  #about .content li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  #about .content li img {
    width: 20px;
    padding-right: 10px;
  }

  #about .container .right-section .right-section-container {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(214, 214, 214);
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/images/Vector2.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 75px;
    padding-bottom: 0px;
  }

  #about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 75px;
    background-image: url("/images/Vector2.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #about .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  .process-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .process-header-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    font-size: 6vw;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #about .container .left-section-mobile {
    width: 100%;
  }

  #about .container .left-section-mobile .left-section-element {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #about .container .left-section-mobile .left-section-element .float-left {
    width: 50%;
  }

  #about .container .left-section-mobile .left-section-element .float-right {
    width: 40%;
  }

  #about .container .left-section-mobile .left-section-element .number {
    padding-top: 8px;
    font-size: 2vw;
    padding-bottom: 25px;
  }

  #about .container .left-section-mobile .left-section-element .header {
    font-size: 2.5vw;
    font-weight: bold;
    width: 40%;
  }

  #about .container .left-section-mobile .left-section-element p {
    font-size: 18px;
    font-weight: bold;
  }

  #about li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -40px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  #about li img {
    width: 20px;
    padding-right: 10px;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          Meet The Team     -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #meet-the-team {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #meet-the-team .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #meet-the-team .container .left-section {
    width: 80%;
  }

  #meet-the-team .container .left-section img {
    width: 80%;
  }

  #meet-the-team .container .right-section {
    width: 100%;
  }

  #meet-the-team .container .right-section .right-section-header {
    font-size: 7.5vw;
    font-weight: bold;
  }

  #meet-the-team .container .right-section p {
    font-size: 4vw;
    width: 95%;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #meet-the-team {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #meet-the-team .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #meet-the-team .container .left-section {
    width: 50%;
  }

  #meet-the-team .container .left-section img {
    width: 90%;
  }

  #meet-the-team .container .right-section {
    width: 50%;
  }

  #meet-the-team .container .right-section .right-section-header {
    font-size: 4.5vw;
    font-weight: bold;
  }

  #meet-the-team .container .right-section p {
    font-size: 2vw;
    width: 95%;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #meet-the-team {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #meet-the-team .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #meet-the-team .container .left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #meet-the-team .container .left-section .header {
    font-size: 2.5vw;
    font-weight: bold;
  }

  #meet-the-team .container .left-section .subheader {
    font-size: 1.5vw;
    padding-bottom: 20px;
  }

  #meet-the-team .container .left-section img {
    width: 45%;
  }

  #meet-the-team .container .right-section {
    width: 50%;
  }

  #meet-the-team .container .right-section .right-section-header {
    font-size: 4vw;
    font-weight: bold;
    line-height: 95%;
    padding-bottom: 30px;
  }

  #meet-the-team .container .right-section p {
    font-size: 18px;
    width: 85%;
  }

  #meet-the-team
    .container
    .right-section
    .right-section-header
    #orange-header {
    color: #f18200;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
