/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  #hero .left-section-mobile {
    width: 100%;
    height: 35vh;
    /*
        background-color: rgb(223, 223, 253);
        border: 1px dashed;
        */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 95%;
    height: 30vh;
    /*background-color: rgb(204, 204, 252);
        border: 1px dashed;
        */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section-mobile .hero-header {
    font-size: 8.5vw;
    /*font-size: 35px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section-mobile p {
    font-size: 16px;
    line-height: 125%;
  }

  #hero .left-section {
    display: none;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 85%;
    display: flex;
    flex-direction: row;
  }
  #hero .left-section {
    width: 55%;
    height: 50vh;
    /*
        background-color: rgb(223, 223, 253);
        border: 1px dashed;
        */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 50vh;
    /*background-color: rgb(204, 204, 252);
        border: 1px dashed;
        */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section .hero-header {
    font-size: 4.5vw;
    /*font-size: 45px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section p {
    font-size: 16px;
    line-height: 125%;
    width: 70%;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }

  #hero .left-section {
    width: 35%;
    height: 70vh;
    /*
        background-color: rgb(223, 223, 253);
        border: 1px dashed;
        */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    padding-top: 35px;
  }

  #hero .left-section .header {
    font-weight: bold;
    font-size: 36px;
  }

  #hero .left-section p {
    font-size: 30px;
  }

  #hero .right-section {
    width: 60%;
    height: 70vh;
    /*background-color: rgb(204, 204, 252);
        border: 1px dashed;
        */
    padding-top: 35px;
  }

  #hero .right-section .container {
    width: 100%;
    height: 70vh;
    /*background-color: rgb(204, 204, 252);
        border: 1px dashed;
        */
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px;
    border: 1px solid #cfcfcf;
  }

  #hero .right-section .container .header {
    font-size: 30px;
    font-weight: bold;
  }

  #hero .right-section .container textarea {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 18px;
    width: 100%;
    height: 150px;
    border: 1px solid #bfbfbf;
  }

  #hero .right-section .container input {
    width: 50%;
  }

  #hero .left-section .hero-header {
    font-size: 4.5vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section p {
    font-size: 20px;
    line-height: 125%;
    width: 80%;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
