/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  #hero .left-section-mobile {
    width: 100%;
    height: 35vh;
    /*
    background-color: rgb(223, 223, 253);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 95%;
    height: 30vh;
    /*background-color: rgb(204, 204, 252);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section-mobile .hero-header {
    font-size: min(7.5vw, 30px);
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease-out;
    top: 0px;
    opacity: 1;
    padding-bottom: 10px;
  }

  #hero .left-section-mobile .hero-p {
    font-size: 12px;
  }

  #hero .hero-animation {
    position: relative;
    overflow: hidden;
  }

  .hero-transition {
    top: 100% !important;
    opacity: 0;
  }

  #hero .left-section-mobile p {
    font-size: 14px;
    line-height: 125%;
    width: 90%;
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0px;
    margin: 0px;
    padding-bottom: 10px;
  }

  #hero .left-section {
    display: none;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 640px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }
  #hero .left-section {
    width: 55%;
    height: 50vh;
    /*
    background-color: rgb(223, 223, 253);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 50vh;
    /*background-color: rgb(204, 204, 252);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  .hero-header {
    font-size: 4.5vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease-out;
    top: 0px;
    opacity: 1;
  }

  #hero .hero-animation {
    position: relative;
    overflow: hidden;
  }

  .hero-transition {
    top: 80% !important;
    opacity: 0;
  }

  #hero .left-section p {
    font-size: 16px;
    line-height: 125%;
    width: 70%;
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0px;
    margin: 0px;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin-left: 27px;
    margin-right: 27px;
  }

  #hero .left-section {
    width: 55%;
    height: 70vh;
    /*
    background-color: rgb(223, 223, 253);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 70vh;
    /*background-color: rgb(204, 204, 252);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    padding-top: 35px;
  }

  .hero-header {
    font-size: 4.5vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease-out;
    top: 0px;
    opacity: 1;
  }

  #hero .hero-animation {
    position: relative;
    overflow: hidden;
  }

  .hero-transition {
    top: 80% !important;
    opacity: 0;
  }

  #hero p {
    font-size: min(20px, 1.5vw);
    line-height: 125%;
    width: 100%;
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0px;
    margin: 0px;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          BLOG              -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #blog {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #blog .container {
    width: 90%;
    display: flex;
    flex-direction: row;
  }

  #blog .container .left-section {
    width: 40%;
    display: none;
  }

  #blog .container .right-section {
    width: 100%;
  }

  #blog .container .right-section .blog-page-element {
    width: 100%;
    border-bottom: 2px solid #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 0px;
  }

  #blog .container .right-section .blog-page-element p {
    width: 100%;
    font-size: 16px;
  }

  #blog .container .right-section .blog-page-element .left {
    padding-top: 49px;
    width: 7%;
  }

  #blog .container .right-section .blog-page-element .right {
    width: 93%;
  }

  #blog .container .right-section .blog-page-element .header {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  #blog .container .right-section .blog-page-element .sub-header {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #blog {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  #blog {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  #blog .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #blog .container .left-section {
    width: 40%;
    display: none;
  }

  #blog .container .right-section {
    width: 100%;
  }

  #blog .container .right-section .blog-page-element {
    width: 100%;
    border-bottom: 2px solid #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 0px;
  }

  #blog .container .right-section .blog-page-element p {
    width: 100%;
    font-size: 16px;
  }

  #blog .container .right-section .blog-page-element .left {
    padding-top: 49px;
    width: 7%;
  }

  #blog .container .right-section .blog-page-element .right {
    width: 93%;
  }

  #blog .container .right-section .blog-page-element .header {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  #blog .container .right-section .blog-page-element .sub-header {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #blog {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("/images/Vector2.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #blog .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #blog .container .left-section {
    width: 40%;
    display: initial;
  }

  #blog .container .left-section .header {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    width: 70%;
  }

  #blog .container .left-section .categories {
    width: 100%;
    position: sticky;
    top: 100px;
  }

  #blog .container .left-section .categories .category-element {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 30px;
    font-size: 18px;
  }

  #blog .container .left-section .categories .category-element img {
    width: 8%;
  }

  #blog .container .left-section .categories .category-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }

  #blog .container .left-section .contact {
    padding-top: 450px;
  }

  #blog .container .left-section .cl-effect-5-body {
    display: flex;
    flex-direction: row;
  }

  #blog .container .left-section a {
    font-weight: bold;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
  }

  /* Effect 5: same word slide in */
  #blog .container .left-section .categories .cl-effect-5-body a {
    overflow: hidden;
    height: 1em;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  #blog .container .left-section .cl-effect-5-body a:hover {
    color: #f18200;
  }

  #blog .container .left-section .cl-effect-5-body a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  #blog .container .left-section .cl-effect-5-body img {
    padding-left: 15px;
    width: 40px;
    height: 40px;
  }

  #blog .container .left-section .cl-effect-5-body a span::before {
    position: absolute;
    top: -100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  #blog .container .left-section .cl-effect-5-body a:hover span,
  #blog .container .left-section .cl-effect-5-body a:focus span {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }

  #blog .container .right-section {
    width: 60%;
  }

  #blog .container .right-section .blog-page-element {
    width: 100%;
    border-bottom: 2px solid #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 0px;
  }

  #blog .container .right-section .blog-page-element p {
    width: 100%;
    font-size: 20px;
  }

  #blog .container .right-section .blog-page-element .left {
    padding-top: 49px;
    width: 7%;
  }

  #blog .container .right-section .blog-page-element .right {
    width: 93%;
  }

  #blog .container .right-section .blog-page-element .header {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  #blog .container .right-section .blog-page-element .sub-header {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
