/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  #hero .left-section-mobile {
    width: 100%;
    height: 35vh;
    /*
    background-color: rgb(223, 223, 253);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 95%;
    height: 30vh;
    /*background-color: rgb(204, 204, 252);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section-mobile .hero-header {
    font-size: 8.5vw;
    /*font-size: 35px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section-mobile p {
    font-size: 16px;
    line-height: 125%;
  }

  #hero .left-section {
    display: none;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 85%;
    display: flex;
    flex-direction: row;
  }
  #hero .left-section {
    width: 55%;
    height: 50vh;
    /*
    background-color: rgb(223, 223, 253);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 50vh;
    /*background-color: rgb(204, 204, 252);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section .hero-header {
    font-size: 4.5vw;
    /*font-size: 45px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section p {
    font-size: 16px;
    line-height: 125%;
    width: 70%;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin-left: 27px;
    margin-right: 27px;
  }

  #hero .left-section {
    width: 55%;
    height: 70vh;
    /*
    background-color: rgb(223, 223, 253);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 70vh;
    /*background-color: rgb(204, 204, 252);
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    padding-top: 35px;
  }

  #hero .left-section .hero-header {
    font-size: 4.5vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section p {
    font-size: 20px;
    line-height: 125%;
    width: 80%;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
  }

  #services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #services .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #services .left-section {
    width: 100%;
    height: 10vh;
    line-height: 60px;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    /* justify-content: center; /* center items vertically, in this case */
  }

  #services .left-section .services-header {
    font-size: 26px;
    line-height: 95%;
    font-weight: bold;
  }

  #services .left-section p {
    font-size: 26px;
    line-height: 95%;
  }

  #services .right-section {
    width: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: space-between; /* center items vertically, in this case */
    font-size: 14px;
    line-height: 150%;
  }

  #services .right-section p {
    width: 100%;
  }

  #services .right-section a {
    /*border: 1px solid rgb(196, 196, 196);*/
    border: none;
    height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
  }

  #services .right-section a:hover {
    color: rgb(48, 86, 197);
    filter: invert(22%) sepia(76%) saturate(4390%) hue-rotate(225deg)
      brightness(87%) contrast(74%);
  }

  #services .right-section #button1 img {
    padding-top: 12px;
    width: 40px;
  }

  .hero-button-tablet {
    display: none;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
  }

  #services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #services .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #services .left-section {
    width: 100%;
    height: 13vh;
    line-height: 60px;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    /*justify-content: center;  center items vertically, in this case */
  }

  #services .left-section .services-header {
    font-size: 45px;
    line-height: 95%;
    font-weight: bold;
  }

  #services .left-section p {
    font-size: 45px;
    line-height: 95%;
  }

  #services .right-section {
    width: 100%;
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: space-between; /* center items vertically, in this case */
    font-size: 16px;
    line-height: 150%;
    padding-top: 50px;
  }

  #services .right-section p {
    width: 45%;
  }

  .hero-button {
    display: none;
  }

  #services .hero-button-tablet a {
    /*border: 1px solid rgb(196, 196, 196);*/
    border: none;
    height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
  }

  #services .hero-button-tablet a:hover {
    color: rgb(48, 86, 197);
    filter: invert(22%) sepia(76%) saturate(4390%) hue-rotate(225deg)
      brightness(87%) contrast(74%);
  }

  #services .hero-button-tablet #button1 img {
    padding-top: 12px;
    width: 50px;
  }

  .hero-button-tablet {
    display: initial;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
  }

  #services {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #services .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #services .left-section {
    width: 55%;
    height: 50vh;
    line-height: 60px;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    /*justify-content: center;  center items vertically, in this case */
  }

  #services .left-section .services-header {
    font-size: 4vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #services .left-section p {
    font-size: 4vw;
    /*font-size: 75px;*/
    line-height: 95%;
  }

  #services .right-section {
    width: 40%;
    height: 50vh;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    font-size: 20px;
    line-height: 150%;
    padding-top: 50px;
  }

  #services .right-section button {
    /*border: 1px solid rgb(196, 196, 196);*/
    border: none;
    height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    letter-spacing: 1px;
  }

  #services .right-section a {
    /*border: 1px solid rgb(196, 196, 196);*/
    border: none;
    height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
  }

  #services .right-section a:hover {
    color: rgb(48, 86, 197);
    filter: invert(22%) sepia(76%) saturate(4390%) hue-rotate(225deg)
      brightness(87%) contrast(74%);
  }

  #services .right-section #button1 img {
    padding-top: 12px;
    width: 70px;
  }

  .hero-button-tablet {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          PORTFOLIO         -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #portfolio .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    padding-top: 40px;
  }

  #portfolio .left-section {
    width: 100%;
    /*
    border: 1px dashed;
    background-color: rgb(208, 255, 208);
    */
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 20px;
  }

  #portfolio .middle-section {
    width: 100%;
    /*
    border: 1px dashed;
    background-color: rgb(195, 255, 195);
    */
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 20px;
  }

  #portfolio .right-section {
    width: 100%;
    /*
    border: 1px dashed;
    background-color: rgb(181, 253, 181);
    */

    padding-bottom: 20px;
  }

  #portfolio .title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
  }

  #portfolio .description {
    padding-bottom: 20px;
    font-size: 14px;
  }

  #portfolio .subtitles {
    font-size: 12px;
    padding-bottom: 10px;
  }

  #portfolio .subtitles span {
    padding-right: 10px;
  }

  #portfolio a {
    text-decoration: none;
    color: black;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
  }

  #portfolio .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
  }

  #portfolio .left-section {
    width: 33.3%;
    /*
    border: 1px dashed;
    background-color: rgb(208, 255, 208);
    */
    border-bottom: none;
    padding-bottom: 0px;
  }

  #portfolio .middle-section {
    width: 33.3%;
    /*
    border: 1px dashed;
    background-color: rgb(195, 255, 195);
    */
    border-bottom: none;
    padding-bottom: 0px;
  }

  #portfolio .right-section {
    width: 33.3%;
    /*
    border: 1px dashed;
    background-color: rgb(181, 253, 181);
    */
    border-bottom: none;
    padding-bottom: 0px;
  }

  #portfolio .title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
  }

  #portfolio .description {
    padding-bottom: 20px;
    font-size: 14px;
  }

  #portfolio .subtitles {
    font-size: 12px;
    padding-bottom: 10px;
  }

  #portfolio .subtitles span {
    padding-right: 10px;
  }

  #portfolio a {
    text-decoration: none;
    color: black;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
  }

  #portfolio .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
  }

  #portfolio .left-section {
    width: 33.3%;
    /*
    border: 1px dashed;
    background-color: rgb(208, 255, 208);
    */
    border-bottom: none;
    padding-bottom: 0px;
  }

  #portfolio .middle-section {
    width: 33.3%;
    /*
    border: 1px dashed;
    background-color: rgb(195, 255, 195);
    */
    border-bottom: none;
    padding-bottom: 0px;
  }

  #portfolio .right-section {
    width: 33.3%;
    /*
    border: 1px dashed;
    background-color: rgb(181, 253, 181);
    */
    border-bottom: none;
    padding-bottom: 0px;
  }

  #portfolio .title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  #portfolio .description {
    padding-bottom: 20px;
    font-size: 18px;
  }

  #portfolio .subtitles {
    font-size: 12px;
    padding-bottom: 30px;
  }

  #portfolio .subtitles span {
    padding-right: 10px;
  }

  #portfolio a {
    text-decoration: none;
    color: black;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          PRICING           -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("/images/Vector2.svg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: top 350px right;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #pricing .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  #pricing .left-section {
    width: 100%;
    /*
    border: 1px dashed;
    background-color: rgb(208, 236, 255);
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    font-size: 20px;
  }

  #pricing .left-section .description {
    width: 90%;
    font-size: 14px;
  }

  #pricing .right-section {
    width: 100%;
    /*
    border: 1px dashed;
    background-color: rgb(167, 220, 255);
    */
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    flex-wrap: wrap;
  }

  #pricing .pricing-box-container {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    width: 100%;
  }

  #pricing .pricing-box-container img {
    padding-right: 5px;
    filter: invert(22%) sepia(76%) saturate(4390%) hue-rotate(225deg)
      brightness(87%) contrast(74%);
    width: 8%;
  }

  #pricing .pricing-box {
    /*
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #pricing .title {
    font-size: 26px;
    line-height: 95%;
    font-weight: bold;
    padding-bottom: 20px;
    width: 90%;
  }

  #pricing .title #orange-header {
    color: #f18200;
  }

  #pricing .description {
    padding-bottom: 20px;
    width: 300px;
    font-size: 16px;
  }

  #pricing .pricing-box .pricing-title {
    font-weight: bold;
    font-size: 14px;
  }

  #pricing .pricing-box p {
    font-size: 12px;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #pricing .pricing-box hr {
    border: 1px solid rgb(214, 214, 214);
    width: 90%;
    margin-left: 0;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #pricing {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("/images/Vector2.svg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 70px;
  }

  #pricing .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #pricing .left-section {
    width: 50%;
    /*
    border: 1px dashed;
    background-color: rgb(208, 236, 255);
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    font-size: 20px;
  }

  #pricing .left-section .description {
    width: 90%;
    font-size: 16px;
  }

  #pricing .right-section {
    width: 50%;
    height: 75vh;
    /*
    border: 1px dashed;
    background-color: rgb(167, 220, 255);
    */
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    flex-wrap: wrap;
  }

  #pricing .pricing-box-container {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    width: 100%;
  }

  #pricing .pricing-box-container img {
    padding-right: 5px;
    filter: invert(22%) sepia(76%) saturate(4390%) hue-rotate(225deg)
      brightness(87%) contrast(74%);
    width: 10%;
  }

  #pricing .pricing-box {
    /*
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    width: 100%;
  }

  #pricing .title {
    font-size: 4vw;
    line-height: 95%;
    font-weight: bold;
    padding-bottom: 50px;
    width: 100%;
  }

  #pricing .title #orange-header {
    color: #f18200;
  }

  #pricing .description {
    padding-bottom: 20px;
    width: 300px;
    font-size: 16px;
  }

  #pricing .pricing-box .pricing-title {
    font-weight: bold;
    font-size: 18px;
  }

  #pricing .pricing-box p {
    font-size: 14px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #pricing .pricing-box hr {
    border: 1px solid rgb(214, 214, 214);
    width: 90%;
    margin-left: 0;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #pricing {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("/images/Vector2.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #pricing .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #pricing .left-section {
    width: 50%;
    height: 80vh;
    /*
    border: 1px dashed;
    background-color: rgb(208, 236, 255);
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #pricing .left-section .description {
    width: 75%;
    padding-bottom: 20px;
    font-size: 20px;
  }

  #pricing .right-section {
    width: 50%;
    height: 80vh;
    /*
    border: 1px dashed;
    background-color: rgb(167, 220, 255);
    */
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    flex-wrap: wrap;
  }

  #pricing .pricing-box-container {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    width: 49%;
  }

  #pricing .pricing-box-container img {
    padding-right: 6px;
    padding-top: 60px;
    filter: invert(22%) sepia(76%) saturate(4390%) hue-rotate(225deg)
      brightness(87%) contrast(74%);
    width: 14%;
  }

  #pricing .pricing-box {
    /*
    border: 1px dashed;
    */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: end; /* center items vertically, in this case */
  }

  #pricing .title {
    font-size: 4vw;
    line-height: 95%;
    font-weight: bold;
    padding-bottom: 50px;
    width: 100%;
  }

  #pricing .title #orange-header {
    color: #f18200;
  }

  #pricing .description {
  }

  #pricing .pricing-box .pricing-title {
    font-weight: bold;
    font-size: 22px;
  }

  #pricing .pricing-box p {
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #pricing .pricing-box hr {
    border: 1px solid rgb(214, 214, 214);
    width: 80%;
    margin-left: 0;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          BLOG              -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 991px) {
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
