/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

/* FONTS */
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue-Bold.woff") format("woff");
}

/*

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: medium;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue-Medium.woff") format("woff");
}

*/

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/

/* -- Mobile Navigation -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    margin: 0px;
    /*overflow-x: hidden;*/
    background-image: url("/images/Ellipse_Mobile.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar {
    width: 95%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-navigation {
    font-size: 14px;
    font-weight: bold;
    width: 40%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    margin: 0px;
    /*overflow-x: hidden;*/
    background-image: url("/images/Ellipse_Tablet.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar {
    width: 95%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-navigation {
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
    background-image: url("/images/Ellipse1.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar {
    width: 95%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-navigation {
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---         FOOTER             -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 991px) {
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    max-width: 100%;
    /*overflow-x: hidden;*/
    margin: 0;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---         SECTION TITLE      -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 991px) {
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

#services-main {
  margin: 0 auto;
}
