/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

/* FONTS */
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue-Bold.woff") format("woff");
}

/*

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: medium;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue-Medium.woff") format("woff");
}

/**
 * Simple Radial Mouse Cursor
 */
#mouse-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -10px 0px 0px -9px;
  background: #f18200;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0);
}

*/ body {
  overscroll-behavior-y: none;
}

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/

/* -- Mobile Navigation -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    background-color: #f1f1f1;
    max-width: 100%;
    margin: 0px;
    /*overflow-x: hidden;*/
    background-image: url("/images/Ellipse_Mobile.svg");
    background-repeat: no-repeat;
    background-size: 600px;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
  }

  .navbar {
    width: 90%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-navigation {
    width: 60%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu-mobile {
    width: 60%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: right; /* center items vertically, in this case */
  }

  .navbar-menu-mobile img {
    width: 40px;
    padding-top: 24px;
  }

  .navbar-menu-mobile .link {
    padding-top: 31px;
    padding-right: 8px;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    background-color: #f1f1f1;
    max-width: 100%;
    margin: 0px;
    /*overflow-x: hidden;*/
    background-image: url("/images/Ellipse_Tablet.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 1000px;
    background-position: right -150px;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
  }

  .navbar {
    width: 95%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-navigation {
    width: 40%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu-mobile {
    width: 60%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: right; /* center items vertically, in this case */
  }

  .navbar-menu-mobile img {
    width: 40px;
    padding-top: 24px;
  }

  .navbar-menu-mobile .link {
    padding-top: 31px;
    padding-right: 8px;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
    background-image: url("/images/Ellipse1.svg");
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: right -335px;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }

  .navbar {
    width: 95%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-navigation {
    width: 30%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  .navbar-navigation a {
    padding: 2px;
    padding-left: 5px;
    width: 102px;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    background: black;
    color: white;
  }

  .navbar-navigation img {
    width: 150px;
    padding-top: 17px;
  }

  .navbar-menu {
    width: 60%;
    height: 100%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  .navbar-menu ul {
    display: flex;
    justify-content: right;
    list-style: none;
  }

  .navbar-menu li {
    flex: 0 0 auto;
    padding: 20px;
  }

  .navbar-menu a {
    text-decoration: none;
    color: black;
  }

  .navbar-menu a:hover {
    color: rgb(48, 86, 197);
  }

  .navbar-menu-mobile {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---         FOOTER             -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    max-width: 100%;
    /*overflow-x: hidden;*/
    margin: 0;
  }

  #footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
    background-image: url("/images/Vector3.svg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  #footer .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  #footer .header {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }

  #footer .left-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #footer .left-section .footer-menu .footer-menu-link {
    list-style: none;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
  }

  #footer .left-section .footer-menu {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  #footer .left-section label {
    font-size: 16px;
  }

  #footer .left-section input {
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 14px;
  }

  #footer .left-section .footer-email-mobile {
    color: #f18200;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  #footer .left-section p {
    width: 95%;
    font-size: 14px;
  }

  #footer .right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* center items vertically, in this case */
  }

  #footer .right-section .header {
    color: #f18200;
    font-size: 24px;
    display: none;
  }

  #footer .right-section p {
    width: 95%;
    margin-bottom: 125px;
    font-size: 18px;
    display: none;
  }

  #footer .right-section .footer-services {
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: space-between; /* center items vertically, in this case */
    padding-bottom: 15px;
  }

  #footer .right-section .footer-services .footer-services-section {
    padding-bottom: 20px;
  }

  #footer
    .right-section
    .footer-services
    .footer-services-section
    .services-section-header {
    font-weight: bold;
    font-size: 16px;
  }

  #footer
    .right-section
    .footer-services
    .footer-services-section
    .services-section-label {
    padding-top: 15px;
    font-size: 14px;
  }

  #footer .footer-menu a {
    list-style: none;
    text-decoration: none;
    color: black;
  }

  .socials {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #353535;
    color: white;
  }

  .socials .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    max-width: 100%;
    /*overflow-x: hidden;*/
    margin: 0;
  }

  #footer {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/images/Vector3.svg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  #footer .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  #footer .header {
    font-weight: bold;
    font-size: 20px;
  }

  #footer .left-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #footer .left-section label {
    margin-bottom: -40px;
  }

  #footer .left-section input {
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 20px;
  }

  #footer .left-section .footer-email-mobile {
    display: none;
  }

  #footer .left-section p {
    display: none;
  }

  #footer .right-section {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* center items vertically, in this case */
  }

  #footer .right-section .header {
    color: #f18200;
    font-size: 24px;
    display: initial;
  }

  #footer .right-section p {
    width: 95%;
    margin-bottom: 125px;
    font-size: 18px;
    display: initial;
  }

  #footer .right-section .footer-services {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: space-between; /* center items vertically, in this case */
  }

  #footer
    .right-section
    .footer-services
    .footer-services-section
    .services-section-header {
    font-weight: bold;
    font-size: 18px;
  }

  #footer
    .right-section
    .footer-services
    .footer-services-section
    .services-section-label {
    padding-top: 25px;
    font-size: 16px;
  }

  #footer .left-section .footer-menu .footer-menu-link {
    list-style: none;
    width: 45%;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
  }

  #footer .left-section .footer-menu {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  #footer .footer-menu a {
    list-style: none;
    text-decoration: none;
    color: black;
  }

  .socials {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #353535;
    color: white;
  }

  .socials .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .socials .container .socials-left {
    width: 30%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
  }
  .socials .container .socials-middle {
    width: 30%;
    text-align: center;
  }

  .socials .container .socials-middle img {
    width: 20px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .socials .container .socials-right {
    width: 30%;
    text-align: right;
  }

  .socials .container .socials-right a {
    text-decoration: none;
    color: #939393;
    padding-left: 10px;
    font-size: 16px;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    max-width: 100%;
    /*overflow-x: hidden;*/
    margin: 0;
  }

  #footer {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/images/Vector3.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  #footer .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  #footer .header {
    font-weight: bold;
    font-size: 26px;
  }

  #footer .left-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #footer .left-section label {
    margin-bottom: -40px;
  }

  #footer .left-section input {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 20px;
  }

  #footer .left-section .footer-email-mobile {
    display: none;
  }

  #footer .left-section p {
    display: none;
  }

  #footer .right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* center items vertically, in this case */
  }

  #footer .right-section .header {
    color: #f18200;
    font-size: 30px;
    display: initial;
  }

  #footer .right-section p {
    width: 75%;
    margin-bottom: 125px;
    display: initial;
  }

  #footer .right-section .footer-services {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: space-between; /* center items vertically, in this case */
  }

  #footer
    .right-section
    .footer-services
    .footer-services-section
    .services-section-header {
    font-weight: bold;
  }

  #footer
    .right-section
    .footer-services
    .footer-services-section
    .services-section-label {
    padding-top: 25px;
  }

  #footer .left-section .footer-menu .footer-menu-link {
    list-style: none;
    width: 35%;
    height: 60px;
    font-weight: bold;
    font-size: 26px;
  }

  #footer .left-section .footer-menu {
    display: flex; /* establish flex container */
    flex-direction: row; /* make main axis vertical */
    justify-content: start; /* center items vertically, in this case */
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  #footer .footer-menu a {
    list-style: none;
    text-decoration: none;
    color: black;
  }

  .socials {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #353535;
    color: white;
  }

  .socials .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .socials .container .socials-left {
    width: 30%;
    text-align: left;
    font-weight: bold;
  }
  .socials .container .socials-middle {
    width: 30%;
    text-align: center;
  }

  .socials .container .socials-middle img {
    width: 26px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .socials .container .socials-right {
    width: 30%;
    text-align: right;
  }

  .socials .container .socials-right a {
    text-decoration: none;
    color: #939393;
    padding-left: 10px;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---         SECTION TITLE      -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #section-title {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f1f1f1;
    z-index: 10;
  }

  #section-title .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }

  #section-title .left-section {
    width: 55%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    font-size: 16px;
  }

  #section-title .right-section {
    width: 40%;
    font-size: 16px;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    line-height: 150%;
    text-align: right;
    font-weight: bold;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #section-title {
    position: sticky;
    top: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f1f1f1;
    z-index: 10;
  }

  #section-title .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }

  #section-title .left-section {
    width: 55%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    font-size: 16px;
  }

  #section-title .right-section {
    width: 40%;
    font-size: 16px;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    line-height: 150%;
    text-align: right;
    font-weight: bold;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #section-title {
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
  }

  #section-title .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }

  #section-title .left-section {
    width: 55%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #section-title .right-section {
    width: 40%;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    line-height: 150%;
    text-align: right;
    font-weight: bold;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

#services-main {
  margin: 0 auto;
}
