/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  #hero .left-section-mobile {
    width: 100%;
    height: 35vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 95%;
    height: 30vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section-mobile .hero-header {
    font-size: 8.5vw;
    /*font-size: 35px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section-mobile p {
    font-size: 16px;
    line-height: 125%;
  }

  #hero .left-section {
    display: none;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 85%;
    display: flex;
    flex-direction: row;
  }
  #hero .left-section {
    width: 55%;
    height: 50vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 50vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section .hero-header {
    font-size: 4.5vw;
    /*font-size: 45px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section p {
    font-size: 16px;
    line-height: 125%;
    width: 70%;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin-left: 27px;
    margin-right: 27px;
  }

  #hero .left-section {
    width: 55%;
    height: 70vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 70vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    padding-top: 35px;
  }

  .hero-header {
    font-size: 4.5vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease-out;
    top: 0px;
    opacity: 1;
  }

  #hero .hero-animation {
    position: relative;
    overflow: hidden;
  }

  .hero-transition {
    top: 80% !important;
    opacity: 0;
  }

  #hero p {
    font-size: 20px;
    line-height: 125%;
    width: 80%;
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0px;
    margin: 0px;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          Our Services      -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #OurServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #OurServices .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #OurServices .container {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #OurServices .container .left-section {
    width: 100%;
  }

  #OurServices .container .left-section p {
    font-size: 3.8vw;
    width: 80%;
    padding-bottom: 40px;
  }

  #OurServices .container .left-section .left-section-header {
    font-size: 9.5vw;
    font-weight: bold;
  }

  #OurServices .container .left-section .left-section-header #orange-header {
    color: #f18200;
  }

  #OurServices .container .right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #OurServices .container .right-section .collapsible {
    width: 100%;
    font-weight: bold;
    font-size: min(18px, 4vw);
    height: 60px;
    text-align: left;
    border: none;
    border-top: 2px solid rgb(214, 214, 214);
    cursor: pointer;
    padding-left: 10px;
    color: black;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(225, 225, 225);
  }

  .active:after {
    content: "\2212";
  }

  #OurServices .container .right-section .collapsible:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .content {
    padding-left: 10px;
    padding-right: 20px;
    font-size: min(16px, 4vw);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    transition: 0.5s ease-in-out;
    background-color: rgb(225, 225, 225);
  }

  .content li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    padding-bottom: 10px;
  }

  .content li img {
    width: 25px;
    padding-right: 10px;
  }

  #OurServices .container .right-section .right-section-container {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(214, 214, 214);
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 650px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #OurServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  #OurServices .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #OurServices .container .left-section {
    width: 50%;
  }

  #OurServices .container .left-section p {
    font-size: 1.8vw;
    width: 80%;
  }

  #OurServices .container .left-section .left-section-header {
    font-size: 5.5vw;
    font-weight: bold;
  }

  #OurServices .container .left-section .left-section-header #orange-header {
    color: #f18200;
  }

  #OurServices .container .right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #OurServices .container .right-section .collapsible {
    width: 100%;
    font-weight: bold;
    font-size: min(16px, 2vw);
    height: 80px;
    text-align: left;
    border: none;
    border-top: 2px solid rgb(214, 214, 214);
    cursor: pointer;
    padding-left: 10px;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(225, 225, 225);
  }

  .active:after {
    content: "\2212";
  }

  #OurServices .container .right-section .collapsible:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .content {
    padding-left: 10px;
    padding-right: 20px;
    font-size: min(16px, 2vw);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    transition: 0.5s ease-in-out;
    background-color: rgb(225, 225, 225);
  }

  .content li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    padding-bottom: 10px;
  }

  .content li img {
    width: 25px;
    padding-right: 10px;
  }

  #OurServices .container .right-section .right-section-container {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(214, 214, 214);
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #OurServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  #OurServices .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #OurServices .container .left-section {
    width: 50%;
  }

  #OurServices .container .left-section p {
    font-size: 1.3vw;
    width: 70%;
  }

  #OurServices .container .left-section .left-section-header {
    font-size: 4.5vw;
    font-weight: bold;
  }

  #OurServices .container .left-section .left-section-header #orange-header {
    color: #f18200;
  }

  #OurServices .container .right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #OurServices .container .right-section .collapsible {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 80px;
    text-align: left;
    border: none;
    border-top: 2px solid rgb(214, 214, 214);
    cursor: pointer;
    padding-left: 10px;
  }

  .active,
  .collapsible:hover {
    background-color: rgb(225, 225, 225);
  }

  .active:after {
    content: "\2212";
  }

  #OurServices .container .right-section .collapsible:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .content {
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    transition: 0.5s ease-in-out;
    background-color: rgb(225, 225, 225);
  }

  .content li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -10px;
    padding-bottom: 10px;
  }

  .content li img {
    width: 25px;
    padding-right: 10px;
  }

  #OurServices .container .right-section .right-section-container {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(214, 214, 214);
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          PROCESS           -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #process {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    background-image: url("/images/Vector2.svg");
    background-size: 8 0%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #process .container {
    width: 90%;
    display: flex;
    flex-direction: row;
  }

  .process-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .process-header .process-header-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    font-size: 10vw;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #process .container .left-section {
    width: 100%;
    display: none;
  }

  #process .container .left-section-mobile {
    width: 100%;
  }

  #process .container .left-section-mobile .left-section-element {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 30px;
    padding-top: 30px;
  }

  #process .container .left-section-mobile .left-section-element .number {
    width: 8%;
    padding-bottom: 10px;
    font-size: 4vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .left-section-element .header {
    font-size: 7vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .left-section-element p {
    width: 90%;
    font-size: 14px;
  }

  #process .container .right-section {
    width: 50%;
    margin-top: -30px;
    display: none;
  }

  #process .container .right-section .block {
    padding-bottom: 95px;
  }

  #process .container .left-section-mobile .right-section-element {
    height: 250px;
    border-bottom: 2px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #process .container .left-section-mobile .right-section-element .header {
    font-size: 5vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .right-section-element p {
    font-size: 14px;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #process {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 75px;
    background-image: url("/images/Vector2.svg");
    background-size: 8 0%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #process .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  .process-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .process-header .process-header-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    font-size: 7vw;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #process .container .left-section {
    width: 50%;
    display: none;
  }

  #process .container .left-section-mobile {
    width: 100%;
  }

  #process .container .left-section-mobile .left-section-element {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 20px;
    padding-top: 10px;
  }

  #process .container .left-section-mobile .left-section-element .number {
    width: 8%;
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  #process .container .left-section-mobile .left-section-element .header {
    font-size: 5vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .left-section-element p {
    width: 80%;
    font-size: 18px;
  }

  #process .container .right-section {
    width: 50%;
    margin-top: -30px;
    display: none;
  }

  #process .container .right-section .block {
    padding-bottom: 95px;
  }

  #process .container .left-section-mobile .right-section-element {
    height: 250px;
    border-bottom: 2px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #process .container .left-section-mobile .right-section-element .header {
    font-size: 22px;
    font-weight: bold;
  }

  #process .container .left-section-mobile .right-section-element p {
    font-size: 18px;
    width: 80%;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #process {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("/images/Vector2.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #process .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  .process-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .process-header .process-header-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    font-size: 6vw;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 2px solid rgb(214, 214, 214);
  }

  #process .container .left-section {
    width: 50%;
    display: initial;
  }

  #process .container .left-section .left-section-element-first {
    height: 550px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 70px;
    background-color: #f1f1f1;
    padding-top: 30px;
    margin-top: -30px;
  }

  #process .container .left-section .left-section-element {
    height: 500px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 70px;
    background-color: #f1f1f1;
    padding-top: 30px;
  }

  #process .container .left-section .left-section-element-last {
    /*height: 600px;*/
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 70px;
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 75px;
  }

  #process .container .left-section .left-section-element-first .number {
    width: 20%;
    padding-top: 10px;
    font-size: 30px;
  }

  #process .container .left-section .left-section-element-first .header {
    font-size: 60px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element-first p {
    width: 70%;
    font-size: 18px;
  }

  #process .container .left-section .left-section-element .number {
    width: 20%;
    padding-top: 8px;
    font-size: 30px;
  }

  #process .container .left-section .left-section-element .header {
    font-size: 60px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element p {
    width: 70%;
    font-size: 18px;
  }

  #process .container .left-section .left-section-element-last .number {
    width: 20%;
    padding-top: 8px;
    font-size: 30px;
  }

  #process .container .left-section .left-section-element-last .header {
    font-size: 60px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element-last p {
    width: 70%;
    font-size: 18px;
  }

  #process .container .right-section {
    width: 45%;
    margin-top: -30px;
    display: initial;
  }

  #process .container .right-section .block {
    padding-bottom: 50px;
  }

  #process .container .right-section .right-section-element {
    height: 250px;
    border-bottom: 2px solid rgb(214, 214, 214);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #process .container .right-section .right-section-element .header {
    font-size: 22px;
    font-weight: bold;
  }

  #process .container .right-section .right-section-element p {
    font-size: 18px;
  }

  #process .container .right-section .right-section-element .process-label {
    font-size: 16px;
    color: rgb(64, 64, 64);
    padding-top: 10px;
  }

  #process .container .left-section-mobile {
    width: 50%;
    display: none;
  }

  #process .container .right-section-mobile {
    width: 50%;
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          PRICING           -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    background-size: 8 0%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #pricing .container {
    width: 90%;
    display: flex;
    flex-direction: row;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 75px;
    background-size: 8 0%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #pricing .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #pricing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #pricing .container {
    width: 80%;
    display: flex;
    flex-direction: row; /* make main axis vertical */
    justify-content: space-between; /* center items vertically, in this case */
    flex-wrap: wrap;
  }

  #pricing .container .pricing-section {
    width: 31%;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    margin-top: 50px;
    border: 1px solid rgb(214, 214, 214);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
  }

  #pricing .container .middle-section {
    width: 31%;
    height: 600px;
    background-color: rgb(32, 32, 32);
    border-radius: 30px;
    border: 1px solid rgb(214, 214, 214);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 18px;
    position: relative;
  }

  #pricing .container .pricing-section .header {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 40px;
  }

  #pricing .container .middle-section .header {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 40px;
  }

  #pricing .container li {
    list-style-type: none;
    display: flex;
    align-items: left;
    margin-left: -40px;
    padding-bottom: 10px;
  }

  #pricing .container li img {
    width: 25px;
    padding-right: 10px;
  }

  #pricing .container .pricing-section button {
    position: absolute;
    bottom: 50px;
    width: 85%;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: rgb(32, 32, 32);
    font-size: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  #pricing .container .middle-section button {
    position: absolute;
    bottom: 50px;
    width: 85%;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #f18200;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
