/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  #hero .left-section-mobile {
    width: 100%;
    height: 35vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 95%;
    height: 30vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section-mobile .hero-header {
    font-size: 8.5vw;
    /*font-size: 35px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section-mobile p {
    font-size: 16px;
    line-height: 125%;
  }

  #hero .left-section {
    display: none;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    width: 85%;
    display: flex;
    flex-direction: row;
  }
  #hero .left-section {
    width: 55%;
    height: 50vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 50vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .left-section .hero-header {
    font-size: 4.5vw;
    /*font-size: 45px;*/
    line-height: 95%;
    font-weight: bold;
  }

  #hero .left-section p {
    font-size: 16px;
    line-height: 125%;
    width: 70%;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #hero {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #hero .container {
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin-left: 27px;
    margin-right: 27px;
  }

  #hero .left-section {
    width: 55%;
    height: 70vh;
    /*
      background-color: rgb(223, 223, 253);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
  }

  #hero .right-section {
    width: 45%;
    height: 70vh;
    /*background-color: rgb(204, 204, 252);
      border: 1px dashed;
      */
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    padding-top: 35px;
  }

  .hero-header {
    font-size: 4.5vw;
    /*font-size: 75px;*/
    line-height: 95%;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease-out;
    top: 0px;
    opacity: 1;
  }

  #hero .hero-animation {
    position: relative;
    overflow: hidden;
  }

  .hero-transition {
    top: 80% !important;
    opacity: 0;
  }

  #hero p {
    font-size: 20px;
    line-height: 125%;
    width: 80%;
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0px;
    margin: 0px;
  }

  #hero .left-section-mobile {
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          Our Services      -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #OurServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #OurServices .container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #OurServices .container .header {
    font-size: 8vw;
    font-weight: bold;
    padding-bottom: 50px;
  }

  #OurServices .container .services-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #OurServices .container .services-grid .services-grid-element {
    height: 300px;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 5%;
    padding: 15px;
    background-color: #fafafa;
  }

  #OurServices .container .services-grid .services-grid-element img {
    width: 15%;
  }

  #OurServices
    .container
    .services-grid
    .services-grid-element
    .element-header {
    font-weight: bold;
    font-size: 5.5vw;
    padding-top: 20px;
  }

  #OurServices .container .services-grid .services-grid-element p {
    font-size: 4vw;
    padding-top: 10px;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #OurServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  #OurServices .container {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  #OurServices .container .header {
    font-size: 3vw;
    font-weight: bold;
    padding-bottom: 50px;
  }

  #OurServices .container .services-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #OurServices .container .services-grid .services-grid-element {
    height: 300px;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 5%;
    padding: 15px;
    background-color: #fafafa;
  }

  #OurServices .container .services-grid .services-grid-element img {
    width: 15%;
  }

  #OurServices
    .container
    .services-grid
    .services-grid-element
    .element-header {
    font-weight: bold;
    font-size: 2.5vw;
    padding-top: 20px;
  }

  #OurServices .container .services-grid .services-grid-element p {
    font-size: 2vw;
    padding-top: 10px;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #OurServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  #OurServices .container {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  #OurServices .container .header {
    font-size: 3vw;
    font-weight: bold;
    padding-bottom: 50px;
  }

  #OurServices .container .services-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #OurServices .container .services-grid .services-grid-element {
    width: 30%;
    height: 400px;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 2%;
    padding: 15px;
    background-color: #fafafa;
  }

  #OurServices .container .services-grid .services-grid-element img {
    width: 15%;
  }

  #OurServices
    .container
    .services-grid
    .services-grid-element
    .element-header {
    font-weight: bold;
    font-size: 1.5vw;
    font-size: min(1.5vw, 30px);
    padding-top: 20px;
  }

  #OurServices .container .services-grid .services-grid-element p {
    font-size: min(1.3vw, 20px);
    padding-top: 10px;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---          PROCESS           -->
<--- -------------------------- -*/

/* -- Mobile -- */
@media screen and (min-width: 0px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #process {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    background-image: url("/images/Vector2.svg");
    background-size: 8 0%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #process .container {
    width: 90%;
    display: flex;
    flex-direction: row;
  }

  #process .container .left-section {
    width: 100%;
    display: none;
  }

  #process .container .left-section-mobile {
    width: 100%;
  }

  #process .container .left-section-mobile .left-section-element {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 60px;
    padding-top: 60px;
  }

  #process .container .left-section-mobile .left-section-element .number {
    width: 8%;
    padding-top: 4px;
    font-size: 6vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .left-section-element .header {
    font-size: 6vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .left-section-element p {
    width: 90%;
    font-size: 14px;
  }

  #process .container .right-section {
    width: 50%;
    margin-top: -30px;
    display: none;
  }

  #process .container .right-section .block {
    padding-bottom: 95px;
  }

  #process .container .left-section-mobile .right-section-element {
    height: 250px;
    border-bottom: 2px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #process .container .left-section-mobile .right-section-element .header {
    font-size: 5vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .right-section-element p {
    font-size: 14px;
  }
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 1023px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #process {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("/images/Vector2.svg");
    background-size: 8 0%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #process .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #process .container .left-section {
    width: 50%;
    display: none;
  }

  #process .container .left-section-mobile {
    width: 100%;
  }

  #process .container .left-section-mobile .left-section-element {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 60px;
    padding-top: 60px;
  }

  #process .container .left-section-mobile .left-section-element .number {
    width: 8%;
    padding-top: 8px;
    font-size: 40px;
    font-weight: bold;
  }

  #process .container .left-section-mobile .left-section-element .header {
    font-size: 8vw;
    font-weight: bold;
  }

  #process .container .left-section-mobile .left-section-element p {
    width: 70%;
    font-size: 20px;
  }

  #process .container .right-section {
    width: 50%;
    margin-top: -30px;
    display: none;
  }

  #process .container .right-section .block {
    padding-bottom: 95px;
  }

  #process .container .left-section-mobile .right-section-element {
    height: 250px;
    border-bottom: 2px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #process .container .left-section-mobile .right-section-element .header {
    font-size: 22px;
    font-weight: bold;
  }

  #process .container .left-section-mobile .right-section-element p {
    font-size: 20px;
  }
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  body,
  html {
    font-family: "HelveticaNeue", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 20px;
    background-color: #f1f1f1;
    max-width: 100%;
    /*overflow-x: hidden;*/
  }

  #process {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("/images/Vector2.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  #process .container {
    width: 95%;
    display: flex;
    flex-direction: row;
  }

  #process .container .left-section {
    width: 50%;
    display: initial;
  }

  #process .container .left-section .left-section-element-first {
    height: 550px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 70px;
    background-color: #f1f1f1;
    padding-top: 30px;
    margin-top: -30px;
  }

  #process .container .left-section .left-section-element {
    height: 500px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 70px;
    background-color: #f1f1f1;
    padding-top: 30px;
  }

  #process .container .left-section .left-section-element-last {
    /*height: 600px;*/
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 70px;
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 75px;
  }

  #process .container .left-section .left-section-element-first .number {
    width: 15%;
    padding-top: 8px;
    font-size: 40px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element-first .header {
    font-size: 60px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element-first p {
    width: 70%;
    font-size: 20px;
  }

  #process .container .left-section .left-section-element .number {
    width: 15%;
    padding-top: 8px;
    font-size: 40px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element .header {
    font-size: 60px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element p {
    width: 70%;
    font-size: 20px;
  }

  #process .container .left-section .left-section-element-last .number {
    width: 15%;
    padding-top: 8px;
    font-size: 40px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element-last .header {
    font-size: 60px;
    font-weight: bold;
  }

  #process .container .left-section .left-section-element-last p {
    width: 70%;
    font-size: 20px;
  }

  #process .container .right-section {
    width: 50%;
    margin-top: -30px;
    display: initial;
  }

  #process .container .right-section .block {
    padding-bottom: 95px;
  }

  #process .container .right-section .right-section-element {
    height: 250px;
    border-bottom: 2px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #process .container .right-section .right-section-element .header {
    font-size: 22px;
    font-weight: bold;
  }

  #process .container .right-section .right-section-element p {
    font-size: 20px;
  }

  #process .container .left-section-mobile {
    width: 50%;
    display: none;
  }

  #process .container .right-section-mobile {
    width: 50%;
    display: none;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
